.dialog {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  background-color: var(--white-color);
  outline: unset;
  border: unset;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 0.8rem 1.2rem;

    &__text {
      font-weight: 500;
    }

    &__btn {
      height: 2rem;
      width: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.8rem;
  }
}