.dialog {
  display: flex;
  flex-direction: column;
  
  &__header {
    width: 100%;
    background-color: var(--dark-color);
    &__text {

    }

    &__btn {

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}