.button {
  width: fit-content;
  border: unset;
  background-color: var(--primary-color);
  color: var(--white-color);

  transition: .2s ease all;

  border-radius: 0.6rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-mid-color);
  }

  &:active  {
    background-color: var(--primary-dark-color);
  }

  &:disabled {
    background-color: var(--primary-light-color);
    color: var(--white-dimmed-color);
  }
}